# Output stuff
build/
msvc/
out/

# vcpkg artifacts
vcpkg_installed/
vcpkg_packages/
vcpkg_buildtrees/
vcpkg_downloads/

# NuGet packages
packages/

# CMake specific
[Cc]MakeFiles/
CMakeCache.txt

# Misc
.qodo/
.vscode/
.vs/